*{
background-color:var(--bgcolor)
}

:root {
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}


.course-img{
  height: 8rem;
  width: 20rem;
  object-fit: cover;

}
.mr-2{
  margin-right:15px;
}
.text-right{
  float:right;
}

/*navbar*/
 a {
  font-weight: bold;
  margin-left: 10px;
  

}
.container-fluid button{
  background-color:#625cd6;
  border-radius: 0%;
  border: 0.1px solid rgb(151, 73, 73);
  color: #fff;
}
.icon{
  margin :10px 5px 7px 7px;
}
 
.course-filter{
  margin-left: 30px;
}
.fil-style{
  padding: 5px;
}

.status-bar{
  color:#228d64;
  font-size: 15px;
  font-weight: bold;
}
.desc-area{
height: 70px;
}
.title-area{
  height: 50px;
}
.cat-desc{
  margin-top:-40px;
}
.hr-width{
  width: 240px;
  margin-left: -17px;
}



  


  
  

